@import "scss/vars";
@import "scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "scss/header";
@import "scss/navigation";
@import "scss/featured";
@import "scss/banner";
@import "scss/categories";
@import "scss/crumbs";
@import "scss/product";
@import "scss/likes";
@import "scss/footer";


* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

summary::-webkit-details-marker {
    display: none;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $siteWidth / 2);
    padding-right: calc(50% - $siteWidth / 2);
}

.customer_values {
    display: flex;
    justify-content: flex-start;
    height: 529px;
    padding-bottom: 97px;

    .best_offer {
        width: 767px;
        position: relative;

        &__shade_mask {
            position: absolute;
            width: inherit;
            height: inherit;
            z-index: 1;
        }

        &__img {
            position: absolute;
            width: inherit;
            height: inherit;
            z-index: -1;
        }

        &__txt {
            margin-top: 146px;
            margin-left: 39px;
            position: relative;
            z-index: 2;

            h1 {
                @include font-style($size: 53.7px, $line-height: 1.2, $weight: 700);
                color: #ffffff;

                .pink {
                    color: $siteColor;
                }
            }

            h2 {
                @include font-style($size: 32.2px, $line-height: 1.2, $weight: 700);
                color: #ffffff;
            }
        }
    }

    .values {
        position: relative;
        width: 1140px - 767px;
        height: 529px;
        background-color: #222224;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;


        &__cell {
            display: grid;
            grid-template-columns: 114px 1fr;
            padding-right: 36px;

            &__img_container {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 111px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }

            &__text_container {
                grid-column: 2/3;
                grid-row: 1/2;

                h1 {
                    @include font-style($size: 20px, $line-height: 1.2, $weight: 700);
                    color: #fbfbfb;
                    margin-bottom: 17px;
                }

                p {
                    @include font-style($size: 14px, $line-height: 24px, $weight: 300);
                    color: #fbfbfb;
                }
            }
        }
    }
}

.subscribe {
    position: relative;
    display: flex;
    gap: 3px;
    background-image: url(img/subscribe_background.png);
    background-size: cover;
    height: 448px;
    z-index: -2;

    &__left {
        width: 50%;
        display: grid;
        flex-direction: column;
        grid-template-columns: 83px 1fr;
        // align-items: center;
        gap: 10px;


        .quote_face {
            grid-column: 1/2;
            grid-row: 1/2;
            margin-top: 111px;
        }

        .quote_container {
            grid-column: 2/3;
            grid-row: 1/2;
            // width: 873px;
            margin-top: 123px;
            padding-left: 20px;
            padding-right: 40px;

            .quote {
                @include font-style($size: 16px, $line-height: 26px, $weight: 400);
                font-style: italic;
                color: #222224;
                // width: 400px;
                margin-bottom: 19px;
            }

            .name {
                @include font-style($size: 16px, $line-height: 26px, $weight: 700);
                color: $siteColor;
                width: 360px;
            }

            .place {
                @include font-style($size: 12px, $line-height: 14px, $weight: 300);
                color: #222224;
                width: 360px;
            }
        }
    }

    &__right {
        border-left: 1px solid #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
        width: 50%;

        h1 {
            @include font-style($size: 24px, $line-height: 167.2%, $weight: 400);
            text-transform: uppercase;
            color: #222224;

        }

        h2 {
            @include font-style($size: 18px, $line-height: 167.2%, $weight: 400);
            color: #222224;
            text-align: center;
            text-transform: uppercase;
        }

        input {
            margin-top: 32px;
            width: 234px;
            height: 49px;
            flex-shrink: 0;
            background-color: #E1E1E1;
            border: none;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            padding-left: 22px;
            color: #222224;
            @include font-style($size: 14px, $weight: 400);
        }

        button {
            border: none;
            background-color: $siteColor;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            height: 49px;
            width: 100px;
            color: #FFF;
            text-align: center;
            @include font-style($size: 14px, $weight: 400);
            cursor: pointer;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(244, 244, 244, 0.70);
        z-index: -1;
    }
}

.information {
    padding-top: 109px;
    padding-bottom: 90px;
    display: flex;
    gap: 64px;
    // width: 100%;

    &__left {
        display: flex;
        flex-direction: column;
        gap: 29px;
        width: 760px;

        &__logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 13px;

            &__img {
                width: 59px;
                height: 51px;
            }

            &__txt {
                margin-top: 4px;
                @include font-style($size: 27px, $line-height: 32px, $weight: 300);
                text-transform: uppercase;
                color: #222222;

                &__d {
                    font-weight: 900;
                    color: $siteColor;
                }
            }
        }

        &__txt {
            @include font-style($size: 14px, $line-height: 24px, $weight: 300);
            color: #898989;
        }
    }

    &__right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        width: 100%;

        &__cell {
            display: flex;
            flex-direction: column;

            h1 {
                @include font-style($size: 18px, $line-height: 26px, $weight: 700);
                color: $siteColor;
                text-transform: capitalize;
                margin-bottom: 45px;
            }

            a {
                @include font-style($size: 16px, $weight: 400);
                color: #898989;
                margin-bottom: 26px;

                &:hover {
                    color: $siteColor;
                }
            }
        }
    }
}