.bread_crumbs {

    height: 148px;
    background-color: #f8f3f4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        @include font-style($size: 24px, $line-height: 20px, $weight: 900);
        color: $siteColor;
        text-transform: uppercase;
    }

    &__right {
        @include font-style($size: 14px, $line-height: 20px, $weight: 300);
        color: black;
        text-transform: uppercase;

        .current {
            font-weight: 700;
            color: $siteColor;
        }
    }
}